<div ng-if="teams.length">
	<div ng-include="'templates/page/movies/currentMovie.html'"></div>
	<div ng-if="currentTeam && gameState == 1">
		<div class="teamReadyCheck" ng-if="!currentMovie">
			<button class="btn btn-success btn-lg btn-block" ng-click="teamReady()">{{currentTeam.name}} ist dran!
				Bereit?
			</button>
			<br/>
		</div>
		<div class="well well-lg text-center time">
			ZEIT: {{timer}}
		</div>
	</div>
</div>
<div ng-if="gameState == 0 && teams.length">
	<button class="btn btn-success btn-lg btn-block" ng-click="startGame()">Spiel starten</button>
</div>
<div ng-if="gameState == 1" class="text-center">
	<button class="btn btn-default btn-block" ng-click="stopGame()">Spiel beenden</button>
</div>
<div ng-if="gameState == 2">
	<h3>Spiel beendet</h3>
	<div ng-if="numberOfAvailableMovies < numberOfMoviesNeededToCompleteRound">
		<div class="alert alert-info">
			<span class="glyphicon glyphicon-info-sign"></span> Nicht mehr genügend Filme übrig.
		</div>
	</div>
	<div ng-if="checkForMaxPointsReached()">
		<div class="alert alert-info">
			<span class="glyphicon glyphicon-info-sign"></span> Die Gewinnpunktzahl wurde erreicht.
		</div>
	</div>
	<h3>Ergebnis</h3>
	<div ng-repeat="team in teams">
		<div ng-if="team.points == getHighestPoints()">
			<div class="jumbotron" style="background: {{team.color}}">
				<h1 class="text-center">
					<span class="glyphicon glyphicon-star-empty"></span>
					{{team.name}} - Punkte: {{team.points}}
				</h1>
			</div>
		</div>
		<div ng-if="team.points != getHighestPoints()">
			<div class="well" style="background: {{team.color}}, opacity: 0.2;">
				<h1 class="text-center">
					{{team.name}} - Punkte: {{team.points}}
				</h1>
			</div>
		</div>
	</div>
	<br/>
	<button class="btn btn-success btn-lg btn-block" ng-click="resetStack()">Neues Spiel</button>
	<hr/>

	<div class="results">
		<h2>Zusammenfassung</h2>
		<div ng-include="'templates/page/game/results.html'"></div>
	</div>
</div>