<div ng-if="!currentMovie && gameStatus != 1">
	<h3>Spiel Einstellungen</h3>
	<div class="row">
		<div class="col-xs-6">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Regeln</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="setup-time">Zeit für einen Film in Sekunden</label>
						<input id="setup-time" type="number" ng-model="settings.time" class="form-control input-sm"/>
					</div>
					<div class="form-group">
						<label for="setup-max-dsicrads">Anzahl an Filmen die pro Runde übersprungen werden dürfen</label>
						<input id="setup-max-dsicrads" type="number" ng-model="settings.maxDiscards" class="form-control input-sm"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Filter</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="year-from">Ab diesem Jahr</label>
						<input id="year-from" type="number" ng-model="filter.minYear" class="form-control input-sm"/>
					</div>
					<div class="form-group">
						<label for="year-to">Bis zu diesem Jahr</label>
						<input id="year-to" type="number" ng-model="filter.maxYear" class="form-control input-sm"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	(Anzahl Filme nach Filter: {{availableMoviesNumber()}})
	<button class="btn btn-success btn-lg btn-block" ng-click="startGame()">Spiel starten</button>
</div>
<div ng-if="gameStatus == 2">
	<br/>
	<div class="alert alert-info">
		<span class="glyphicon glyphicon-info-sign"></span> Nicht mehr genügend Filme übrig.
	</div>
	<button class="btn btn-success btn-lg btn-block" ng-click="resetStack()">Neues Spiel</button>

	<hr/>

	<div class="results">
		<h2>Zusammenfassung</h2>
		<div ng-include="'templates/page/movies/results.html'"></div>
	</div>
</div>