<h3>Teams</h3>
<div ng-if="teams.length == 0">
	<div class="alert alert-info">Bitte mindestens ein Team anlegen!</div>
</div>
<div ng-repeat="team in teams">
	<div class="alert team" style="background: {{team.color}}" ng-class="{active: teamIsActive(team)}">
		<span ng-if="team.edit" class="form-inline">
			<input type="text" class="form-control input-sm" ng-model="team.name"/>
			<input type="color" class="" ng-model="team.color"/>
			<button class="btn btn-link" ng-click="toggleEditTeam(team)">
				<span class="glyphicon glyphicon-check"></span>
			</button>
		</span>
		<div ng-if="!team.edit" class="form-inline">
			{{team.name}}
			&nbsp;&nbsp;&nbsp;
			<span class="badge">Punkte: {{team.points}}</span>
			<div class="actions pull-right">
				<a href="" class="" ng-click="toggleEditTeam(team)">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a href="" class="" ng-click="removeTeam(team)">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<div ng-if="gameStatus != 1">
	<button class="btn btn-primary btn-block" ng-click="addTeam()">Team hinzufügen</button>
</div>
<div ng-if="gameStatus == 1">
	<hr/>
</div>